<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Neon - Home{% endblock %}</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body style="font-family: "Albert Sans";">
    <header class="text-gray-600">
        <div class="px-20 flex flex-wrap p-5 flex-col md:flex-row items-center">
            <a href="/" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-teal-500 rounded-full"
                    viewBox="0 0 24 24">
                    <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
                </svg>
                <span class="ml-3 text-xl">Neon Institute</span>
            </a>
            <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
                <a href="{% url 'index' %}" class="mr-5 hover:text-teal-700">Home</a>
                <a href="{% url 'about' %}" class="mr-5 hover:text-teal-700">About</a>
                <a href="{% url 'cruises' %}" class="mr-5 hover:text-teal-700">Cruises</a>
                <a href="{% url 'destinations' %}" class="mr-5 hover:text-teal-700">Destinations</a>
                <a href="{% url 'login' %}" class="mr-5 hover:text-teal-700">Sign In</a>
            </nav>
        </div>
    </header>
   <div class="container mx-auto">
    {% block content %}
        <div class="mt-40 flex flex-col items-center justify-center gap-2 lg:gap-4">
            <h2 class="text-4xl lg:text-6xl font-bold text-center text-teal-600 mb-2">What is your Vision?</h2>
            <p class=" text-lg lg:text-2xl text-center text-gray-600">"The Wolf has eye for prey, the Cow has eye for hay..."</p>
            <div class="flex flex-row items-center justify-center gap-4 mt-3 lg:mt-4">
                <a href="{% url 'destinations' %}">
                    <button class="bg-teal-600 w-full text-center hover:bg-white border-2 border-teal-600 hover:text-teal-600 text-white font-semibold rounded-md py-3 px-4 text-lg lg:text-xl transition-all duration-300 ease-in-out">
                        Explore
                    </button>
                </a>
                <a href="{% url 'signup' %}">
                    <button class="border-2 w-full text-center border-teal-600 hover:bg-teal-600 hover:text-white text-teal-600 font-semibold rounded-md py-3 px-4 text-lg lg:text-xl transition-all duration-300 ease-in-out">
                        Get started
                    </button>
                </a>
            </div>
        </div>
    {% endblock %}
   </div>
</body>
</html>